body{
    height: 100vh;
    width: 100vw;
}
.modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}