body{
  height: 100vh;
  width: 100vw;
}
.modal-container{
   display: flex;
  flex-direction: column;
  align-items: center;


}
.input-group{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-dialog {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

